.git
.github
.idea
.vscode
.venv
node_modules
vendor
composer.lock
package-lock.json
.env
.env.backup
.env.production
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/build
public/storage
